body {
    font-family: 'Playfair Display', serif;
    background-color: #f9f9f9;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #A44E56;
    color: #ffffff;
    padding: 2rem;
    text-align: center;
    font-size: 0.7rem;
    text-transform: uppercase;
    letter-spacing: 0.2px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    line-height: 1rem
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin: 0;
}

nav ul li {
    margin-right: 2rem;
}

nav ul li a {
    text-decoration: none;
    color: #1b1212;
    font-weight: bold;
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: #8D3E48;
    border-radius: 5px;
}

.conteudo {
    padding: 4rem;
    text-align: center;
}

.conteudo img {
    width: 110%;
    max-width: 900px;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    margin-top: 1rem;
}

footer {
    background-color: #A44E56;
    color: white;
    text-align: center;
    padding: 2rem;
    font-size: 0.9rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    position: fixed;
    width: 100%;
    bottom: 0;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.2);
}

ul {
    list-style: none;
    padding: 0;
    display: grid;
    margin-top: 1rem;
}

ul li {
    background-color: #ffffff;
    border: 0.2px solid #E5E5E5;
    padding: 0.1rem;
    border-radius: 03px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
}

ul li:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
}

ul li span {
    color: #A44E56;
    font-weight: bold;
    font-size: 1.2rem;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    background-color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 10px;
    max-width: 600px;
    margin: 4rem auto;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}

form input, form textarea {
    width: 100%;
    padding: 1rem;
    margin: 1rem 0;
    border: 1px solid #808080;
    border-radius: 8px;
    font-size: 1rem;
    background-color: #ffffff;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.05);
}

form button {
    background-color: #A44E56;
    color: white;
    border: none;
    padding: 1rem 3rem;
    border-radius: 8px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

form button:hover {
    background-color: #8D3E48;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

@media ( max-width: 425px) {
    nav ul li a {
        font-size: 0.75rem;
        margin: 0;
    }
}

@media (max-width: 320px) {
    header {
        background-color: #A44E56;
        color: #ffffff;
        padding: 1rem;
        text-align: center;
        font-size: 1rem;
        text-transform: uppercase;
        letter-spacing: 1px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    }

    nav ul li {
        font-size: 1.75rem;
        margin: 3px;
    }

    .conteudo {
        padding: 0.5rem;
    }

    form {
        padding: 1rem;
        max-width: 100%;
    }

    form button {
        padding: 0.8rem 2rem;
        font-size: 1rem;
    }

    h1 {
        font-size: 1.25rem;
    }
}
