body {
    font-family: 'Playfair Display', serif;
    background-color: #f9f9f9; 
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #A44E56; 
    color: #ffffff;
    padding: 2rem;
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin: 0;
}

nav ul li {
    margin-right: 2rem;
}

nav ul li a {
    text-decoration: none;
    color: #1b1212;
    font-weight: bold;
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: #8D3E48; 
    border-radius: 5px;
}

.conteudo {
    padding: 4rem;
    text-align: center;
}

.conteudo img {
    width: 100%;
    max-width: 800px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
    margin-top: 2rem;
}

footer {
    background-color: #A44E56;
    color: white;
    text-align: center;
    padding: 2rem;
    font-size: 0.9rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    position: fixed;
    width: 100%;
    bottom: 0;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.2);
}


ul {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    margin-top: 2rem;
}

ul li {
    background-color: #ffffff;
    border: 1px solid #E5E5E5;
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    transition: transform 0.2s, box-shadow 0.2s;
}

ul li:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
}

ul li span {
    color: #A44E56;
    font-weight: bold;
    font-size: 1.2rem;
}


form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    background-color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 10px;
    max-width: 600px;
    margin: 4rem auto;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1); 
}

form input, form textarea {
    width: 100%;
    padding: 1rem;
    margin: 1rem 0;
    border: 1px solid #808080;
    border-radius: 8px;
    font-size: 1rem;
    background-color: #ffffff;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.05); 
}

form button {
    background-color: #A44E56;
    color: white;
    border: none;
    padding: 1rem 3rem;
    border-radius: 8px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

form button:hover {
    background-color: #8D3E48;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); 
}


@media (max-width: 768px) {
    ul {
        grid-template-columns: 1fr;
    }

    .conteudo {
        padding: 2rem;
    }
}